<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724185934643-9jt65sd4vggo5uoe6nebpcvu3qqmlrdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724185934643-9jt65sd4vggo5uoe6nebpcvu3qqmlrdr</string>
	<key>API_KEY</key>
	<string>AIzaSyC9yXelkASbPUj-iQUol_S1xQiqN9S2wtU</string>
	<key>GCM_SENDER_ID</key>
	<string>724185934643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.renttool.edu</string>
	<key>PROJECT_ID</key>
	<string>renttool</string>
	<key>STORAGE_BUCKET</key>
	<string>renttool.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724185934643:ios:09ade0525afad1d038ec46</string>
</dict>
</plist>