<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722341818745-ecd6a7r7enqvkmagsv13s8b3ekudfgv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722341818745-ecd6a7r7enqvkmagsv13s8b3ekudfgv1</string>
	<key>API_KEY</key>
	<string>AIzaSyBsDINjtz_JUrxjorLyowZhVqDfNCZs3CM</string>
	<key>GCM_SENDER_ID</key>
	<string>722341818745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.renttoll.RentTool</string>
	<key>PROJECT_ID</key>
	<string>renttool-750de</string>
	<key>STORAGE_BUCKET</key>
	<string>renttool-750de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722341818745:ios:3c1b3240bb7ae364b03fa8</string>
</dict>
</plist>